In [1]:
import pandas as pd
import os
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules


path = r'C:\Users\moham\Apriori_VS_Word2Vec'
excel_file = 'Assignment-1_Data.xlsx'
excel_file_path = os.path.join(path, excel_file)



def load_dataset(file_path):
    return pd.read_excel(file_path)
    

data_excel = load_dataset(excel_file_path)
data_excel.dropna(subset=['Itemname'], inplace=True)

In [2]:


basket = data_excel.groupby('BillNo')['Itemname'].apply(list)


print("First few rows of the Excel dataset:")
print(data_excel.head())
print("\nDetailed information about the DataFrame:")
data_excel.info()

First few rows of the Excel dataset:
   BillNo                             Itemname  Quantity                Date  \
0  536365   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00
1  536365                  WHITE METAL LANTERN         6 2010-12-01 08:26:00
2  536365       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00
3  536365  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00
4  536365       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00

   Price  CustomerID         Country
0   2.55     17850.0  United Kingdom
1   3.39     17850.0  United Kingdom
2   2.75     17850.0  United Kingdom
3   3.39     17850.0  United Kingdom
4   3.39     17850.0  United Kingdom

Detailed information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 520609 entries, 0 to 522063
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BillNo      520609 non-null  object
 1   Itemname    520609 non-null  object
 2   Quantity    520609 non-null  int64
 3   Date        520609 non-null  datetime64[ns]
 4   Price       520609 non-null  float64
 5   CustomerID  388023 non-null  float64
 6   Country     520609 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 31.8+ MB

In [3]:

te = TransactionEncoder()
te_ary = te.fit(basket).transform(basket)
print(te_ary)   
basket_encoded = pd.DataFrame(te_ary, columns=te.columns_)
print(basket.head())

[[False False False ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]
 ...
 [False False False ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]]
BillNo
536365    [WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET...
536366    [HAND WARMER UNION JACK, HAND WARMER RED POLKA...
536367    [ASSORTED COLOUR BIRD ORNAMENT, POPPY'S PLAYHO...
536368    [JAM MAKING SET WITH JARS, RED COAT RACK PARIS...
536369                           [BATH BUILDING BLOCK WORD]
Name: Itemname, dtype: object

In [4]:

frequent_itemsets = apriori(basket_encoded, min_support=0.01, use_colnames=True) # test support = 0.01
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

In [5]:

print(rules[['antecedents', 'consequents', 'support', 'confidence']])
rules.to_excel('Apriori_Rules.xlsx', index=False)

                                           antecedents  \
0                    (60 CAKE CASES DOLLY GIRL DESIGN)
1                        (60 TEATIME FAIRY CAKE CASES)
2                     (ALARM CLOCK BAKELIKE CHOCOLATE)
3                     (ALARM CLOCK BAKELIKE CHOCOLATE)
4                     (ALARM CLOCK BAKELIKE CHOCOLATE)
..                                                 ...
793  (WOODLAND CHARLOTTE BAG, RED RETROSPOT CHARLOT...
794  (STRAWBERRY CHARLOTTE BAG, RED RETROSPOT CHARL...
795  (STRAWBERRY CHARLOTTE BAG, CHARLOTTE BAG PINK ...
796  (WOODLAND CHARLOTTE BAG, CHARLOTTE BAG PINK PO...
797  (STRAWBERRY CHARLOTTE BAG, WOODLAND CHARLOTTE ...

                                           consequents   support  confidence
0                    (PACK OF 72 RETROSPOT CAKE CASES)  0.011580    0.561151
1                    (PACK OF 72 RETROSPOT CAKE CASES)  0.021526    0.545113
2                         (ALARM CLOCK BAKELIKE GREEN)  0.013559    0.657074
3                          (ALARM CLOCK BAKELIKE PINK)  0.010392    0.503597
4                           (ALARM CLOCK BAKELIKE RED)  0.014054    0.681055
..                                                 ...       ...         ...
793  (STRAWBERRY CHARLOTTE BAG, CHARLOTTE BAG SUKI ...  0.010046    0.626543
794  (CHARLOTTE BAG PINK POLKADOT, CHARLOTTE BAG SU...  0.010046    0.624615
795  (WOODLAND CHARLOTTE BAG, RED RETROSPOT CHARLOT...  0.010046    0.538462
796  (STRAWBERRY CHARLOTTE BAG, RED RETROSPOT CHARL...  0.010046    0.517857
797  (RED RETROSPOT CHARLOTTE BAG, CHARLOTTE BAG PI...  0.010046    0.502475

[798 rows x 4 columns]